@import "./variables.scss";

.autocomplete-box-sustained {
  background-color: $input-background-color;
  border-radius: 25px;
  color: $text-or-border-color;
  font-size: 36px;
  height: auto;
  list-style-type: none;
  margin-bottom: 100px;
  margin-right: 40px;
  padding-left: 20px;
  position: absolute;
  right: 45px;
  top: 310px;
  width: 360px;
  z-index: 101;
  li:hover {
    cursor: pointer;
    background-color: $button-background-color;
  }
}

.autocomplete-box-welcome {
  background-color: $input-background-color;
  border-radius: 25px;
  color: $text-or-border-color;
  font-size: 36px;
  height: auto;
  list-style-type: none;
  margin-right: 135px;
  padding-left: 20px;
  width: 300px;
  z-index: 100;
  li:hover{
    cursor: pointer;
    background-color: $button-background-color;
  }
}

@media (max-width: 750px) {
  .autocomplete-box-sustained {
    font-size: 20px;
    right: 20px;
    top: 180px;
    width: 180px;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  .autocomplete-box-welcome {
    font-size: 15px;
    margin-right: 110px;
    width: 170px;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
