@import "./variables.scss";

.condition-img {
  padding-left: 20px;
  padding-right: 20px;
}

.current {
  background-color: $input-background-color;
  border-left: 3px solid $text-or-border-color;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.current img {
  display: inline-block;
  height: 60%;
  width: auto;
}

.current .condition {
  margin: 0px;
}

.high-low  {
  display: flex;
  flex-direction: column;
}

.high,
.low {
  margin: 10px;
}

.img-background {
  background-color: $input-background-color;
  border-radius: 25px;
  height: auto;
  margin: 10px;
  padding: 10px;
  width: auto;
}

.summary-text {
  display: inline-block;
  margin: 20px;
}

.summary,
.condition-img {
  align-items: center;
  background-color: $card-color;
  border-radius: 25px;
  color: $text-or-border-color;
  display: flex;
  font-size: 25px;
  height: auto;
  justify-content: center;
  margin-top: 30px;
  width: auto;
}

@media (max-width: 815px) {
  .summary,
  .condition-img,
  .high-low {
    font-size: 20px;
  }
}

  @media (max-width: 600px) {
    .current {
      align-items: flex-start;
      flex-direction: column;
      height: 50vh;
    }

    .current .condition {
      display: inline-block;
      margin-right: 10px;
      width: 25%;
    }

    .summary {
      margin-bottom: 20px;
    }

    .summary,
    .condition-img {
      width: auto;
      height: auto;
      flex-direction: row;
    }
  }
