@import "./variables.scss";

.current {
  background-color: $input-background-color;
  border-left: 3px solid $text-or-border-color;
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.current .condition {
  margin: 0px;
}

.summary-text {
  display: inline-block;
  margin: 20px;
}

.summary,
.condition-img,
.high-low {
  margin-top: 30px;
  height: 75%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: $text-or-border-color;
  background-color: $card-color;
  border-radius: 25px;
}

.current img {
  display: inline-block;
  height: 60%;
  width: auto;
}

.high,
.low {
  margin: 10px;
}

@media (max-width: 815px) {
  .summary,
  .condition-img,
  .high-low {
    font-size: 20px;
  }
}

  @media (max-width: 600px) {
    .summary,
    .condition-img,
    .high-low {
      width: 75%;
      height: auto;
      flex-direction: row;
    }

    .current {
      flex-direction: column;
      height: auto;
      align-items: center;
    }

    .current .condition {
      display: inline-block;
      margin-right: 20px;
    }

    .summary {
      margin-bottom: 20px;
    }
  }
