@import "./variables.scss";

.card-condition {
  height: 50px;
  width: 90%;
}

.seven-hour {
  background-color: $input-background-color;
  border-left: 3px solid $text-or-border-color;
  display: flex;
  height: 30vh;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.seven-hour .card {
  align-items: center;
  background-color: $card-color;
  border-radius: 25px;
  color: $text-or-border-color;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  text-align: center;
  width: 10%;
}

.seven-hour .img-background {
  margin-bottom: 20px;
}

.time,
.temp {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

@media (max-width: 1000px) {
  .card-condition {
    margin-top: 10px;
    width: 150px;
  }

  .seven-hour {
    flex-direction: column;
    height: 60vh;
  }

  .seven-hour .card {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 420px;
  }

  .seven-hour .img-background {
    align-items: center;
    border-radius: 0px;
    display: flex;
    height: 75px;
    justify-content: center;
  }

  .time {
    width: 100px;
  }

  .temp {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .card-condition {
    width: 110px;
  }

  .seven-hour {
    padding-left: 0px;
    padding-right: 0px;
  }

  .seven-hour .card {
    border-radius: 0px;
    font-size: 12px;
    margin-left: 0px;
    width: 100%;
  }

  .time {
    font-size: 14px;
    width: 50px;
  }

}
