@import "./variables.scss";

.border {
  border-bottom: 3px solid $text-or-border-color;
  bottom: 0px;
  position: absolute;
  right: 0px;
  width: 100%;
}

.sustained {
  background-image: url("../images/welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin: 0px;
  position: relative;
  width: 100%;
}

.sustained-info {
  align-items: flex-start;
  background-color: rgba(254, 237, 227, 0.5);
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  padding-bottom: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.sustained-info p {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0px;
}

.sustained-info .city {
  color: $text-or-border-color;
  font-size: 45px;
  margin-top: 20px;
}

.sustained-info .date,
.sustained-info .temp, {
  color: $button-hover-color;
  font-size: 30px;
}

.sustained-info .temp {
  font-size: 45px;
}

.sustained-info .controls {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.sustained-info input {
  background-color: $input-background-color;
  font-size: 40px;
  height: 50px;
  padding-left: 10px;
  width: 450px;

}

.sustained-info input,
.sustained-info button {
  border: 3px solid $text-or-border-color;
  border-radius: 25px 0px 0px 25px;
  border-right: none;
  color: $text-or-border-color;
  font-size: 40px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 25px;
}

.sustained-info button {
  background-color: $button-background-color;
  height: 60px;
  width: 80px;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

.tabs {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  width: 40%;
}

.tabs div {
  background-color: $button-background-color;;
  border: 3px solid $text-or-border-color;
  border-radius: 25px 25px 0px 0px;
  color: $text-or-border-color;
  font-size: 20px;
  padding: 10px;
  z-index: 100;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

.tabs .in-view {
  background-color: $input-background-color;
  border-bottom: none;
  &:hover {
    cursor: auto;
    background-color: $input-background-color;
  }
}

@media (max-width: 750px) {
  .border {
    width: 40%;
  }

  .single-tab {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .sustained {
    height: 50vh;
  }

  .sustained-info .city {
    font-size: 25px;
    margin-top: 10px;
  }

  .sustained-info .date {
    font-size: 18px;
    margin-top: 0px;
  }

  .sustained-info .temp {
    font-size: 25px;
    margin-top: 10px;
  }

  .sustained-info input,
  .sustained-info button {
    font-size: 20px;
  }

  .sustained-info input {
    height: 25px;
    width: 250px;
  }

  .sustained-info button {
    height: 35px;
    width: 50px;
  }

  .tabs {
    height: 15%;
    width: 80%;
  }

  .tabs div {
    font-size: 15px;
  }

}
