@import "./variables.scss";

.ten-day {
  background-color: $input-background-color;
  border-left: 3px solid $text-or-border-color;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.ten-day .card {
  align-items: center;
  background-color: $card-color;
  border-radius: 25px;
  color: $text-or-border-color;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  text-align: center;
  width: 10%;
}

@media (max-width: 1680px) {
  .ten-day .temp {
    display: inline-block;
    font-size: 15px;
    width: 90%;
  }

}

@media (max-width: 1440px) {
  .ten-day {
    flex-wrap: wrap;
    height: auto;
  }

  .ten-day .card {
    height: auto;
    margin-bottom: 20px;
    width: 15%;
  }

  .ten-day .temp {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 60%;
  }
}

@media (max-width: 1150px) {
  .ten-day .temp {
    width: 90%;
  }
}

@media (max-width: 1045px) {
    .ten-day {
      flex-direction: column;
      flex-wrap: nowrap;
      height: auto;
    }

    .ten-day .card {
      flex-direction: row;
      height: 25px;
      justify-content: flex-start;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 700px;
    }

    .ten-day .time {
      display: inline-block;
      width: 250px;
    }

    .ten-day .card-condition {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      width: 300px;
    }

    .ten-day .temp {
      font-size: 15px;
      margin-left: 10px;
      width: 300px;
    }

    .ten-day .img-background {
      align-items: center;
      border-radius: 0px;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      width: 10%;
    }
}

@media (max-width: 770px) {

  .ten-day {
    padding-left: 0px;
  }

  .ten-day .card {
    border-radius: 0px;
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .ten-day .temp,
  .ten-day .time {
    font-size: 10px;
  }

  .ten-day .time {
    width: 100px;
  }

  .ten-day .card-condition {
    font-size: 10px;
    width: 150px;
  }
}
