@import "./variables.css";


.welcome-screen {
  background-image: url("../images/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.welcome-screen h1 {
  font-family: "Ariel", "Helvetica", "Copperplate", sans-serif;
  font-size: 75px;
  color: #d42b16;
}

.welcome-screen h1,
.welcome-screen input,
.welcome-screen button {
  margin-right: 25px;
}

.welcome-screen input {
  font-size: 40px;
  padding-left: 50px;
  background-color: #feede3;
  width: 300px;
  height: 50px;
}

.welcome-screen input,
.welcome-screen button {
  border: 3px solid #d42b16;
  border-radius: 25px;
  margin-bottom: 25px;
  font-size: 40px;
}

.welcome-screen button {
  width: 355px;
  height: 60px;
  color: #d42b16;
  background-color: #eb8049;
}

.welcome-screen button:hover {
  cursor: pointer;
  background-color: #594666;
}
