@import "./variables.scss";

.welcome-screen {
  align-items: flex-end;
  background-image: url("../images/welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.welcome-screen h1 {
  font-size: 75px;
}

.welcome-screen h1,
.welcome-screen input,
.welcome-screen button {
  color: $text-or-border-color;
  margin-right: 25px;
}

.welcome-screen input {
  background-color: $input-background-color;
  font-size: 40px;
  height: 50px;
  padding-left: 10px;
  width: 300px;
}

.welcome-screen input,
.welcome-screen button {
  border: 3px solid $text-or-border-color;
  border-radius: 25px;
  font-size: 40px;
}

.welcome-screen button {
  background-color: $button-background-color;
  height: 60px;
  width: 85px;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

@media (max-width: 975px) {
  .welcome-screen h1 {
    font-size: 50px;
    margin-left: 60px;
  }

}

@media (max-width: 600px) {
  .welcome-screen {
    background-image: url("../images/mobile-welcome-background.jpg");
    background-size: cover;
  }

  .welcome-screen .controls {
    display: flex;
    flex-direction: row;
  }

  .welcome-screen input,
  .welcome-screen button {
    font-size: 15px;
    margin-left: -10px;
  }

  .welcome-screen h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .welcome-screen input {
    height: 35px;
    padding-left: 10px;
    width: 175px;
  }

  .welcome-screen button {
    height: 45px;
    width: 70px;
  }
}
